*
    box-sizing: border-box
    margin: 0
    padding: 0

.center
    display: grid
    justify-content: center
    align-items: center
a
    text-decoration: none
    color: black
    width: 80%

img
    width: 100%

body
    min-height: 100vh
    font-size: 1rem
    background: black
    font-family: 'Poppins', sans-serif

    header
        height: 7rem
        width: 100%
        display: flex
        gap: 2rem
        align-items: center
        padding-inline: 5rem

        .home
            cursor: pointer
            color: white
            font-size: 2rem
            transition: transform 1s ease
            transform: scale(1)
            &:hover
                transform: scale(1.1)

        input
            grid-area: input
            height: 3rem
            width: 18rem
            border-radius: .5rem
            border: none
            outline: none
            padding: 1rem
            color: #747d8c
            font-size: 1.3rem
        .selectShow
            height: 6rem
            .show
                height: 3rem
                width: 15rem
                font-size: 1rem
                padding: 0.7rem
                border-radius: 0.5rem
        .selectEpisode
            height: 6rem
            .episode
                height: 3rem
                width: 15rem
                font-size: 1rem
                padding: 0.7rem
                border-radius: 0.5rem
    .episodeNumber
        color: white
        margin-inline-start: 1rem
    .container
        display: grid
        grid-template-columns: repeat(3,auto)
        gap: 3rem
        margin: 2rem
    .card
        height: 50rem
        width: 26rem
        text-align: left
        background: white
        border-radius: 1rem
        gap: 2rem
        transform: scale(1)
        transition: transform 0.5s ease
        &:hover
            transform: scale(1.01)

        .card-title
            font-size: 1rem
            height: 5rem
            border: 2px solid black
            border-radius: 1rem
            margin-bottom: 1rem
        .card-body
            position: relative
            padding-inline: 1rem
            gap: 1rem
            display: flex
            font-size: 0.8rem
            flex-direction: column
            justify-content: center
            .card-image
                width: 1rem
            .card-summary
                line-height: 1.7rem
                display: flex
            .readMore
                cursor: pointer
                position: absolute
                top: 40rem
                background: gray
                padding: 0.5rem 1rem
                border-radius: 1rem
                color: white
                text-decoration: none
                text-align: center
                &:hover,
                &:focus-visible
                    background: red

    .show-container
        display: grid
        grid-template-columns: 1fr
        justify-items: center
        gap: 3rem
        margin: 2rem
    .showCard
        cursor: pointer
        height: 30rem
        width: 80%
        display: grid
        gap: 2rem
        padding: 0.5rem
        background: white
        border: 1px solid black
        transform: scale(1)
        transition: transform 0.5s ease
        &:hover
            transform: scale(1.01)
        h1
            text-align: center
            font-size: 2.5rem
            padding-block: 1rem
        .showBody
            display: flex
            overflow: hidden
            gap: 2rem
            img
                width: 20%
            p
                width: 50%
                p
                    width: 100%
        .showDetails
            width: 30%
            height: 96%
            display: grid
            padding: 1rem
            justify-content: center
            box-shadow: 3px 3px 10px gray
            p
                width: 100%
                font-weight: 700
                span
                    width: 50%
                    font-weight: 400
