*
    box-sizing: border-box
    margin: 0
    padding: 0

.center
    display: grid
    justify-content: center
    align-items: center
body
    min-height: 100vh
    font-size: 1rem
    background: #e2e4e9
    font-family: 'Poppins', sans-serif

    header
        height: 7rem
        width: 100%
        background: #353b48
        display: flex
        gap: 2rem
        align-items: center
        padding-inline: 5rem

        input
            grid-area: input
            height: 3rem
            width: 18rem
            border-radius: .5rem
            border: none
            outline: none
            padding: 1rem
            color: #747d8c
            font-size: 1.3rem
    .selectShow
        height: 6rem

        .show
            height: 3rem
            width: 15rem
            font-size: 1rem
            padding: 0.7rem
            border-radius: 0.5rem
    .episodeNumber
        color: white
        margin-inline-start: 1rem
    .container
        display: grid
        grid-template-columns: repeat(3,auto)
        gap: 3rem
        margin: 2rem
    .card
        height: 25rem
        width: 26rem
        text-align: left
        background: white
        border-radius: 1rem
        gap: 2rem
        .card-title
            font-size: 1rem
            height: 5rem
            border: 2px solid black
            border-radius: 1rem
            margin-bottom: 1rem
        .card-body
            padding-inline: 1rem
            gap: 1rem
            display: flex
            font-size: 0.8rem
            flex-direction: column
            justify-content: center
            .card-image
                width: 80%
