*
    box-sizing: border-box
    margin: 0
    padding: 0

.center
    display: grid
    justify-content: center
    align-items: center
body
    min-height: 100vh
    display: grid
    grid-template-columns: repeat(3,auto)
    gap: 3rem
    font-size: 1rem
    background: #e2e4e9
    margin: 2rem
    font-family: 'Poppins', sans-serif
    .card
        height: 36rem
        width: 20rem
        text-align: left
        background: white
        border-radius: 1rem
        gap: 2rem
        .card-title
            font-size: 1.2rem
            height: 5rem
            border: 2px solid black
            border-radius: 1rem
            margin-bottom: 1rem
        .card-body
            padding-inline: 1rem
            gap: 1rem
            display: flex
            flex-direction: column
            justify-content: center
            .card-image
                width: 80%


